html {
	background-color: #382525;
	color: white;
}

h1,
h2,
h3 {
	color: darkgoldenrod;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif;
	text-align: center;
}

ul {
	list-style-type: Kannada;
	list-style-position: outside;
	text-align: left;
}

ul li {
	color: darkgoldenrod;
}

ul span {
	color: white;
}

figcaption {
	font-style: italic;
	text-align: center;
}


body {
	margin-left: 25%;
	margin-right: 25%;
}

hr {
	border-style: groove;
	border-color: #b8860b;
	border-width: 3px;
}

.indexText {
	padding-top: 30vh;
	padding-bottom: 30vh;
	text-align: center;
}

footer {
	text-align: center;
}

footer nav {
	font-size: 100%;
	text-align: center;
}

footer nav a,
p a {
	color: white;
	text-decoration: none;
}

footer nav a:hover,
p a:hover {
	color: darkgoldenrod;
}

header {
	text-align: center;
}

header nav {
	font-size: 100%;
	text-align: center;
}

header nav a,
p a {
	color: white;
	text-decoration: none;
}

header nav a:hover,
p a:hover {
	color: darkgoldenrod;
}

.picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer img {
	justify-content: center;

}

#dropZone {

	border: 2px dashed rgb(184, 134, 11);
	padding: 20px;
	cursor: grab;
	background-color: rgba(184, 135, 11, 0.185);
	width: 15vw;
	height: 5vh;
	margin-bottom: 20px;
}

#dropZone:hover {
	background-color: rgba(184, 135, 11, 0.336);
}

#dropZone span {
	top: 50%;

}

#photoInput {
	margin-bottom: 20px;
}

.submitButtonDiv {
	justify-content: center;
}

#fileInput {
	height: 100%;
	width: 100%;
}


.TAInput {
	margin-bottom: 20px;
	min-height: 70px;
	height:auto;
	width: 600px;
}

.TInput {
	margin-bottom: 20px;
	height: 20px;
	width: 600px;
}

.submitButtonDiv{
	display: flex;
	justify-content: center;
}


.color-swatches {
    display: flex;
    justify-content: space-around;
	background-color: #1d1414b4;
	padding: 20px 10px 10px;
	flex-wrap: wrap;
}

.color-swatches span{
    bottom:100%;
}
.swatch {
    width: 50px;
    height: 50px;
    margin: 0 25px; 
}

.cross1, .cross2, .cross3, .cross4{
    width: 80px;
    height: 100px;
    background-color: transparent;
    position: relative;
}

.cross1:before,
.cross1:after {
    content: "";
    position: absolute;
    background-color: #382525; /* Set the color of the cross */
}

.cross2:before,
.cross2:after {
    content: "";
    position: absolute;
    background-color: #b8860b; /* Set the color of the cross */
}

.cross3:before,
.cross3:after {
    content: "";
    position: absolute;
    background-color: #6a5acd; /* Set the color of the cross */
}

.cross4:before,
.cross4:after {
    content: "";
    position: absolute;
    background-color: #FFFFFF; /* Set the color of the cross */
}
.cross1:before, .cross2:before, .cross3:before, .cross4:before {
    width: 100%;
    height: 20px; /* Adjust the thickness of the cross arms */
    top: 25%;
    left: 0;
}

.cross1:after, .cross2:after, .cross3:after, .cross4:after{
    height: 100%;
    width: 20px; /* Adjust the thickness of the cross arms */
    top: 0;
    left: 40%;
}

.image-preview, img#imagePreview {
	height: 400px;
	width: 400px;
	float: right;
	border: 3px groove darkgoldenrod;
}