/* general/ main folder styling */

* {
  margin: 0;
  padding: 0;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  box-sizing: border-box;
  color: white;
}
.index{
  padding-top:10%;
}

.bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 10;
  border-bottom: darkgoldenrod solid 12px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 300px;
  padding: 10px;
}

.nav {
  padding: 30px 0;
}

.nav li {
  display: inline-block;
  margin: 0 15px;
}

.nav li a {
  text-decoration: none;
  color: white;
  padding: 5px 0;
  position: relative;
}

.nav li a::after {
  content: '';
  background: #19848c;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

.nav li a:hover::after {
  width: 100%;
}

.button {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 90%;
  max-width: 600px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hugeBtn {
  background: #19848c;

  padding: 40px 30px;
  border-radius: 25px;

}

.hugeBtn:hover {
  filter: drop-shadow(16px 16px 20px darkgoldenrod) grayscale(75%);
}

.hugeBtn a {
  text-decoration: none;
  color: white;
  font-size: 150%;
}

.bgVid {
  position: fixed;

  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.footer {
  position: fixed;
  bottom: 0;
  color: white;
  z-index: 10;
  text-align: center;
  width: 100vw;

}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: #19848c;
}


.content {
  background-color: darkgoldenrod;
  border-radius: 25px;
  width: 95vw;
  height: 75vh;
  position: fixed;
  margin-top: 1%;
  padding-top:3%;
  top: 10%;
  left: 2%;
  border: darkgoldenrod groove 5px;
  text-align: center;
  justify-content: center;
  display: inline-block;
}

.content a {

  color: white;
  font: bold;

}

#intro {
  background: #19848c;
  color: white;
}

#intro ul {
  list-style: none;
}

.me {
  height: 70%;
  width: auto;
  float: left;
  border-radius: 25px;
  border: darkgoldenrod groove 5px
}

.content p {
  font-size: 16px;
  padding-left: 5%;
}

.content ul {
  background-color: rgba(255, 255, 255, 0.5);
}

.content a:hover {
  color: darkgoldenrod;
}



.content1 {
  display: inline-block;
  background-color: darkgoldenrod;
  color: white;
  padding: 30px;
  margin: 40px 45px;
  border-radius: 25px;
 
  text-align: center;
  position: relative;
  border: darkgoldenrod groove 5px;
  
}

#dWShip {
  height: 45%;
  object-fit: contain;
  border: darkgoldenrod groove 3px;
  border-radius: 25px;
}

.mb {
  border: darkgoldenrod groove 3px;
  border-radius: 25px;
}

.brand li {
  padding: 5px;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content12 {
  background-color: darkgoldenrod;
  color: white;
  padding: 20px;
  margin: 40px 45px;
  border-radius: 25px;
  width: 10vw;
  height: 10vh;
  text-align: center;
  position: relative;
  border: darkgoldenrod groove 5px;
  display: inline-block;
  overflow: hidden;
}

.box {
  display: none;

  left: 65%;
  top: 40%;
  position: absolute;
}

a:hover+.box,
.box:hover {
  display: block;

  z-index: 100;
}

h1,
h2 {
  text-align: center;
}
p{
  text-align: left;
}
.links li{
  display:inline;
  margin:0px 10px;
  background:#06121b;
}
main p{
  background-color: rgba(255, 255, 255, 0.5);
  padding:10px;
}
.content13{
  display: inline-block;
  background-color:#19848c;
  color: white;
  padding: 10px;
  margin: 40px 45px;
  border-radius: 25px;
  text-align: center;
  position: relative;
  border: #19848c groove 5px;
}
#link-list{
  display:flex;
  flex-wrap: wrap;
}